@import url("../../App.css");

@media screen and (min-width: 900px) {
    #education_master_div {
        /* background-color: red; */
        width: 90%;
        height: calc(100vh - 136px);
        position: fixed;
        z-index: 2;

        top: 96px;
        display: flex;
        left: 50%;
        flex-direction: column;
        /* align-items: normal; */
        justify-content: space-between;
        transform: translate(-50%, 0%);
    }

    .education_child_div {
        /* width: 90%;
        max-width: 900px;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        left: 50%;
        top: calc(50% + 26px);
        transform: translate(-50%, -50%);
        position: fixed;
        z-index: 2; */

        /* background-color: var(--secondary-blur); */
        width: 90%;
        height: auto;
        /* min-height: calc(100vh - 76px); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 50%;
        top: 96px;
        transform: translate(-50%, 0%);
        position: absolute;
        z-index: 1;
        align-items: center;
        padding-bottom: 70px;
        /* background-color: orange; */


    }

    .behance_container {
        width: 300px !important;
        height: 170px !important;
    }

    #title_div {
        display: flex;
        justify-content: center;
        /* margin-left: 50px; */
        flex-direction: column;
        margin-top: 40px;
    }

    .blurrygradient_education {
        position: fixed;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        filter: blur(100px);
        /* Adjust blur intensity as needed */
        border-radius: 15px;
        /* Optional: Adds rounded corners */
        opacity: 0.2;
        animation: colorFade_education 5s infinite;
    }

    @keyframes colorFade_education {

        0% {
            background-color: var(--primary-purple);
            width: 40vw;
            height: 50vh;
        }

        25% {
            background-color: var(--primary-pink);
            width: 50vw;
            height: 40vh;
            opacity: 0.1;
            /* Adjust height as needed */

        }

        50% {
            background-color: var(--tertiary-purple);
            width: 50vw;
            height: 40vh;
            /* Adjust height as needed */
        }

        100% {
            background-color: var(--primary-purple);
            width: 40vw;
            height: 50vh;
            /* Adjust height as needed */
        }
    }

    #award_text {
        color: var(--primary-yellow);
        font-size: 18px;
        font-weight: 700;
    }

    #award_icon {
        margin-right: 5px;
        font-size: 18px;
        color: var(--primary-yellow);
    }

    .icon_education {
        transition: 0.2s;
        font-size: 30px;
        color: white;
        opacity: 0.7;
        cursor: pointer;
    }

    .icon_education:hover {
        opacity: 1;
    }

    .icons_master_container {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        gap: 15px;
    }

    #youtube_container_icon {
        margin-left: 10px;
    }

    #education_github_icon {
        font-size: 27px !important;
    }
}

@media screen and (max-width: 899px) {
    #education_master_div {
        /* background-color: red; */
        width: 90%;
        height: calc(100vh - 136px);
        position: fixed;
        z-index: 2;

        top: 96px;
        display: flex;
        left: 50%;
        flex-direction: column;
        /* align-items: normal; */
        justify-content: space-between;
        transform: translate(-50%, 0%);
    }

    .education_child_div {
        /* background-color: var(--secondary-blur); */
        width: 90%;
        height: auto;
        min-height: calc(100vh - 76px);
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        border-radius: 10px;
        /* backdrop-filter: blur(30px); */

        left: 50%;
        top: 76px;
        transform: translate(-50%, 0%);
        position: absolute;
        z-index: 1;
    }

    .behance_container {
        width: 100% !important;
        height: 170px !important;
        margin-top: 20px;
        cursor: pointer;
    }

    #title_div {
        display: flex;
        justify-content: center;
        /* margin-left: 50px; */
        flex-direction: column;
        margin-top: 20px;
    }

    .blurrygradient_education {
        position: fixed;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        filter: blur(100px);
        /* Adjust blur intensity as needed */
        border-radius: 15px;
        /* Optional: Adds rounded corners */
        opacity: 0.2;
        animation: colorFade_education 5s infinite;
    }

    @keyframes colorFade_education {

        0% {
            background-color: var(--primary-purple);
            width: 40vw;
            height: 50vh;
        }

        25% {
            background-color: var(--primary-pink);
            width: 50vw;
            height: 40vh;
            opacity: 0.1;
            /* Adjust height as needed */

        }

        50% {
            background-color: var(--tertiary-purple);
            width: 50vw;
            height: 40vh;
            /* Adjust height as needed */
        }

        100% {
            background-color: var(--primary-purple);
            width: 40vw;
            height: 50vh;
            /* Adjust height as needed */
        }
    }

    #award_text {
        color: var(--primary-yellow);
        font-size: 16px;
        font-weight: 700;
    }

    #award_icon {
        margin-right: 5px;
        font-size: 16px;
        color: var(--primary-yellow);
    }

    .icon_education {
        transition: 0.2s;
        font-size: 30px;
        color: white;
        opacity: 0.7;
        cursor: pointer;
    }

    .icon_education:hover {
        opacity: 1;
    }

    .icons_master_container {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        gap: 15px;
    }

    #youtube_container_icon {
        margin-left: 10px;
    }

    #education_github_icon {
        font-size: 27px !important;
    }
}